<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 TECO www.teco.edu
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.teco.edu/automata" 
       class = "edu.teco.automata.Automata.AutomataPackage"
       genModel = "model/automata.genmodel" /> 
  </extension>

</plugin>
