<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel" switchValue="Warning, ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\Users\VS2010\Desktop\NodeDiscovery\app.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="C:\Users\VS2010\Desktop\NodeDiscovery\msg.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <system.serviceModel>
      <diagnostics>
        <messageLogging logEntireMessage="true" logMessagesAtTransportLevel="true" />
      </diagnostics>
      <bindings>
        <customBinding>
          <binding name="gsoap">
            <compositeDuplex />
            <oneWay packetRoutable="false" />
            <textMessageEncoding messageVersion="Soap12WSAddressingAugust2004" />
            <httpTransport realm="" />
          </binding>
        </customBinding>
      </bindings>
      
        <client>
            <endpoint binding="customBinding" bindingConfiguration="gsoap"
                contract="WSEventing.SubscriptionManager" name="SubscriptionManager" />
            <endpoint binding="customBinding" bindingConfiguration="gsoap"
                contract="WSEventing.EventSource" name="EventSource" />
            <endpoint binding="customBinding"   bindingConfiguration="gsoap"
                contract="SSimp.SensorValues"  name="SensorValues" />
        </client>
    </system.serviceModel>
</configuration>