<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.teco.squery.editor.SQueryEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="sqr"
            icon="icons/file.gif"
            id="edu.teco.squery.editor.SQueryEditor"
            name="sQuery Editor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
         
		<wizard
			category="org.openarchitectureware.xtext.wizards"
			class="edu.teco.squery.wizards.MyNewSQueryProjectWizard"
			icon="icons/template.gif"
			id="edu.teco.squery.wizards.MyNewSQueryProjectWizard"
			name="sQuery Project"
			project="true">
		</wizard>
         
		<wizard
			category="org.openarchitectureware.xtext.wizards"
			class="edu.teco.squery.wizards.NewSQueryFileWizard"
			icon="icons/file.gif"
			id="edu.teco.squery.wizards.NewSQueryFileWizard"
			name="sQuery Editor file">
		</wizard>
	</extension>
</plugin>
